<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/base.css' %"}>

    {% block style %}      {% endblock style %}
</head>

<body>

    <div class="header_nav">
        <a href="##">Вход</a>
        <a href="##">Регистрация</a>
        <br>
        <br>
        <a href="{% url 'homepage' %}">Домашняя страница</a>
        <a href="{% url 'catalog' %}">Каталог продуктов</a>
        <a href="{% url 'counter' %}">Подсчет калорий</a>
        <a href="{% url 'history' %}">История</a>
    </div>



{% block body %}

{% endblock %}

</body>
</html>